<h5>{{title}}</h5>
<hr />

<alert></alert>
<form  [formGroup]="userInProjectForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-3">
            <label for="userInProject.ProjectId">Project</label>
            <select id="ProjectId" name="ProjectId" class="form-control" #profile formControlName="ProjectId" (change) = "changeSelectedProject($event.target.value)">
                <option value="" disabled selected>Select a Project...</option>
                <option *ngFor="let project of projects" [value]="project.ProjectId" [selected]="project.ProjectId == userInProject.ProjectId">{{project.Name}}</option>
            </select>

            <div *ngIf="formErrors.ProjectId" class="alert alert-danger">
                {{ formErrors.ProjectId }}
            </div>
        </div>

        <div class="form-group col-3">
            <label for="userInProject.UserId">User</label>
            <select id="UserId" name="UserId" class="form-control" #profile formControlName="UserId">
                <option value="" disabled selected>Select a User...</option>
                <option *ngFor="let user of users" [value]="user.UserId" [selected]="user.UserId == userInProject.UserId">{{user.FirstName}} {{user.LastName}}</option>
            </select>

            <div *ngIf="formErrors.UserId" class="alert alert-danger">
                {{ formErrors.UserId }}
            </div>
        </div>

        <div class="form-group col-3">            
            <button type="submit" class="btn btn-success"
                [disabled]="!userInProjectForm.valid"><i class="fa fa-plus-circle"></i> Add</button>            
        
        </div>    
    </div>            
</form>  
<div class="row">    
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Project</th>
                <th>User</th>                    
                <th>Last Modified By</th>       
                <th>Last Modified Date</th>       
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userInProject of table.itemsOnCurrentPage">
                <td>{{userInProject.Project}}</td>
                <td>{{userInProject.User}}</td>
                <td>{{userInProject.CreatedName}}</td>
                <td>{{userInProject.CreatedDate | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                <td>                        
                    <button class="btn btn-danger"
                        (click)="delete(userInProject.UserInProjectId)" title="Remove User From Project"><i class="fa fa-trash-o"></i></button>
                    
                </td>                    
            </tr>
        </tbody>
    </table>
</div>
<pagination [maxPageIndex]="table.maxPageIndex" 
            (pageNumberChanged)="table.currentPageIndex = $event">
</pagination>
<div class="row pull-right">
    <button type="button" class="btn btn-danger"
        (click)="goBack()"><i class="fa fa-arrow-left"></i> Back</button>       
</div>