<h5>{{title}}</h5>
<hr />
<alert></alert>
<div class="row"> 
    <div class="col-md-9">
        <button class="btn btn-success" (click)="addNew()">
            <i class="fa fa-plus-circle"></i>
            New Test Plan
        </button>
    </div>   
    <div class="form-group">
        <input type="text" name="Search" class="form-control" title="Search" placeholder="Search By Name..."
            [(ngModel)]="table.searchValue.Name"/>
    </div>   
</div>
<div class="row">    
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>Finish Date</th>
                <th>Status</th>
                <th>Last Modified By</th>
                <th>Last Modified Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let testPlan of table.itemsOnCurrentPage" class="{{testPlan.Status ? '' : 'alert alert-danger'}}">                    
                <td>{{testPlan.TestPlanId}}</td>
                <td>{{testPlan.Name}}</td>
                <td>{{testPlan.StartDate | date:'dd/MM/yyyy'}}</td>
                <td>{{testPlan.FinishDate | date:'dd/MM/yyyy'}}</td>
                <td>{{testPlan.Status | status}}</td>
                <td>{{testPlan.LastUpdatedName}}</td>
                <td>{{testPlan.LastUpdatedDate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                <td class = "pull-right">
                    
                    <button *ngIf="testPlan.Status" class="btn btn-primary"
                        (click)="edit(testPlan)" title="Edit Project"><i class="fa fa-pencil-square-o"></i></button>
                    <button *ngIf="testPlan.Status" class="btn btn-primary"
                        (click)="openTestPlan(testPlan)" title="Open Test Plan"><i class="fa fa-folder-open-o"></i></button>
                    <button class="{{testPlan.Status ? 'btn btn-danger' : 'btn btn-success'}}"
                        (click)="changeStatus(testPlan.TestPlanId)" title="{{testPlan.Status ? 'Inactivate Test Plan' : 'Activate Test Plan'}}">
                            <i class="fa {{testPlan.Status ? 'fa fa-ban' : 'fa fa-check-circle-o'}}"></i>
                    </button>
                </td>                    
            </tr>
        </tbody>
    </table>
</div>
<pagination [maxPageIndex]="table.maxPageIndex" 
            (pageNumberChanged)="table.currentPageIndex = $event">
</pagination>
